.pListItem {
   border-radius: 10px;
   overflow: hidden;
   cursor: pointer;
   background-color: #fff;
   box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
   margin: 10px;
   overflow: hidden;
   max-width: 300px;
   width: 100%;
   text-align: center;
   transition: transform 0.3s ease-in-out;
}

.pListImg {
   height: 200px;
   width: 100%;
   object-fit: cover;
}

.pListTitles {
   padding: 20px;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.pListTitles > h1 {
   font-size: 18px;
   color: #444;
   text-transform: capitalize;
   margin-bottom: 10px;
}

.pListTitles > h2 {
   font-size: 14px;
   font-weight: 300;
   margin-top: 10px;
}

.pList {
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   max-width: 1024px;
}

.pListItem:hover {
   transform: translateY(-5px);
}

.loading {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100px;
}

.loading div {
   display: inline-block;
   position: relative;
   top: 50%;
   transform: translateY(-50%);
   width: 15px;
   height: 15px;
   margin: 0 10px;
   border-radius: 50%;
   background: #f29d41;
   animation: ripple 1.4s infinite ease-in-out both;
}

.loading div:nth-child(2) {
   animation-delay: -0.7s;
}

@keyframes ripple {
   0% {
      top: 28px;
      left: 28px;
      width: 0;
      height: 0;
      opacity: 1;
   }
   100% {
      top: -1px;
      left: -1px;
      width: 58px;
      height: 58px;
      opacity: 0;
   }
}
