.login {
  height: 100vh;
  display: flex;
  align-items: center;
  background-image: linear-gradient(#ba8b02, #a17fe0, #181818);

  justify-content: center;
}

.lContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.lInput {
  height: 30px;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid black;
}

.lButton {
  border: none;
  padding: 10px 20px;
  background-color: #f29d41;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}

.lButton:disabled {
  background-color: #7c6122;
  cursor: not-allowed;
}
